<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="userService" class="com.epam.core.lecture_2.dependencyInjection.UserService">
    <constructor-arg ref="jpaUserRepository"/>
    <property name="accountRepository" ref="accountRepository"/>
  </bean>

  <bean id="jdbcUserRepository" class="com.epam.core.lecture_2.dependencyInjection.JdbcUserRepository"/>

  <bean id="jpaUserRepository" class="com.epam.core.lecture_2.dependencyInjection.JpaUserRepository"/>
  <bean id="accountRepository" class="com.epam.core.lecture_2.dependencyInjection.AccountRepositoryImpl"/>


</beans>
